body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0;
  padding: 0; /* Removendo padding padrão */
}

header {
    background-image: url("../imagens/AdobeStock_218594788-1-scaled-q616brnuk36eafn5kaddhakt9zyibuchfrx9achbc0.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img {
  width: 200px;
  height: auto;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  backdrop-filter: blur(1px); /* Ajuste o valor conforme necessário */
  background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo com transparência */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 20px;
}

h3 {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(5px); /* Ajuste o valor conforme necessário */
  background-color: rgba(0, 0, 0, 1); /* Cor de fundo com transparência */
}

.centralizar{
  display: flex;

  align-items: center;

  justify-content: center;
}

nav img {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.right-align {
  margin-left: auto;
}

h1, h2 {
  color: #ffffff; /* Cor do texto */
  margin: 0.3em; /* Ajuste da margem para centralizar */
}
main {
  display: flex;
  margin: 0;
  color: #000000;
  width: 100%;
  margin: 0 auto;

  background-size: cover;
  background-position: center;
  background-image: url("../imagens/telemedicina2_novosite.png");
}

h1{
    margin: 0.3em;
    font-size: 6em;
}

h2{
    margin-bottom: 0.5em;
    font-size: 2.0em
}
.preto{
  color: #000000;
}

p {
  color: white
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
