body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: blue ffffff;
  margin: 0;
  padding: 0; /* Removendo padding padrão */
  background-image: url("../imagens/325966ab5e71a75cc017bc0ebee6ed9b (1).jpg");

  /* Define como a imagem deve ser repetida (no caso de não cobrir toda a tela) */


  /* Define como a imagem deve ser dimensionada */
  background-size: 800px;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin:0;
    position: relative; /* Muda para relativo para que a rolagem funcione */
    background-color: rgba(255, 255, 255, 0.8); /* Define uma cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 800px;
    margin-bottom: 0;
}

img {
  width: 200px;
  height: 500px;
}

h1 {
  font-size: 100px;
  color: black;
}

h2 {
  color: black;
  font-size: 18px;
}

nav {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  backdrop-filter: blur(1px); /* Ajuste o valor conforme necessário */
  background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo com transparência */
}

ul {
  padding: 0;
  margin: 0;
}

.espacamento {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}


h3 {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

footer {
  margin-top: 0; /* ou um valor específico desejado */
  padding-top: 0; /* ou um valor específico desejado */
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(5px); /* Ajuste o valor conforme necessário */
  background-color: rgba(0, 0, 0, 1); /* Cor de fundo com transparência */
}

.centralizar{
  display: flex;

  align-items: center;

  justify-content: center;
}

nav img {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.right-align {
  margin-left: auto;
}

h1, h2 {
  color: black ffffff; /* Cor do texto */
  margin: 0.3em; /* Ajuste da margem para centralizar */
}
main {
  dislpay: flex;
  color: #000000;
  width: 100%;
  max-width: 100%;
  margin: 0;
  height:800px;
  position: relative; /* Muda para relativo para que a rolagem funcione */
  background-color: rgba(255, 255, 255, 0.8); /* Define uma cor de fundo com transparência */
  padding: 20px;
  border-radius: 10px; /* Adiciona uma sombra */
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 800px;
  margin-top: 0;
  background-position: center center;
  background-image: linear-gradient(
      to right,
    rgba(192, 192, 192, 0.9), 
    rgba(128, 128, 128, 0.7)
    ),
    url("../imagens/header.jpg");
  z-index: 2;
}



h2{
    margin-bottom: 0.5em;
    font-size: 2.0em
}
.preto{
  color: #000000;
}

p {
  color: white
  margin-bottom: 20px;
}

h3 {
  font: bold 24px Arial
  margin-bottom: 10px;
  
}
.margem{
  margin: 40px
}

.checkpoint1 div{
    border: 10px solid black ffffff;
    border-radius: 1em;
    padding: 1.5em;
    background-color: white;
   height: 50px
}

.checkpoint2 div{
    border: 2px solid black ffffff;
    border-radius: 1em;
    padding: 1.5em;
    background-color: white;
    height:100PX
}

.user-actions {
  display: flex;
  align-items: center;
  margin: 0;
}

.user-actions button:hover {
  background-color: #ffffff;
  color: #1d4175; /* Use 'color' instead of 'font-color' */
}

.user-actions li {
  margin-right: 20px;
}

.user-actions button {
  font-size: 16px;
  font-weight: bold; /* Deixa o texto em negrito */
  margin-left: 20px;
  padding: 8px 15px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 35px;
  transition: all 0.3s ease; /* Efeito de transição suave para hover */
  cursor: pointer;
}

.step {
  padding: 50px 0;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.contact li {
  margin-bottom: 5px;
}

.fundo-embarcado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('caminho-da-imagem.jpg');
    background-size: cover;
    filter: blur(10px); /* Adiciona o efeito de desfoque */
    z-index: -1; /* Envia o fundo para trás, atrás dos outros elementos */
}

.conteudo-principal {
    position: relative;
    padding: 20px; /* Adiciona um espaçamento para o conteúdo */
}

.area-embacada {
    position: relative; /* Muda para relativo para que a rolagem funcione */
    background-color: rgba(255, 255, 255, 0.8); /* Define uma cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 800px; /* Define uma largura máxima para a área embaçada */
     z-index: 1;
}

head{
  margin: 0;
  padding: 0;
}

background{
  transform: translateX(-50%);
}