<!DOCTYPE html>


<head>
  <meta charset="UTF-8">
  <title>HEALTHLINK</title>
  <link rel="stylesheet" href="estilo.css">

</head>


<body>


<form method="post">
    {% csrf_token %}

  <div>
    <label>Nome Completo: </label>
    <input type="text" name="nome_completo">
  </div>

  <div>
    <label>Email: </label>
    <input type="email" name="email" >
  </div>

  <div>
    <label>Telefone: </label>
    <input type="number" name="telefone">
  </div>

  <div>
    <label>Data de nascimento: </label>
    <input type="text" name="nascimento">
  </div>

  <div>
    <label>Sexo: </label>
    <input type="text" name="sexo">
  </div>


  <div>
    <label>Estado: </label>
    <input type="text" name="estado">
  </div>

  <div>
    <label>Cidade: </label>
    <input type="text" name="cidade">
  </div>


  <div>
    <label>Rua: </label>
    <input type="text" name="rua">
  </div>

  <div>
    <label>Número</label>
    <input type="number" name="numeroCasa">
  </div>

  <div>
    <label>Plano de Saúde: </label>
    <input type="text" name="planoDeSaude">
  </div>

  <input type="submit" value="Registrar">
  </form>

</body>


</html>
