{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Saúde na Palma da Mão - Seu app de marcar consultas</title>
  </head>



  <body>

    <div class="container">
    <h1> Health Link</h1>
    </div>

  <body>
    <h2>Somos um grupo de estudantes da PUC-Rio, que observando a escassez/dificuldade em marcar consultas, decidimos cria um aplicativo para facilitar as consultas. </h2>

    <h2>Facilitamos a forma que pacientes e profissionais de saúde se relacionam, facilitando a forma de marcar consultas e sendo objetivo ao recomendar médicos</h2>


<body>
        <div class="dropdown" class="centralizarSemFundo">
          <button class="mainmenubtn">Quem somos?</button>
          <div>
          <div class="dropdown-child">
    <a href="http://wwww.yourdomain.com/page2.html">">Sub Menu 1</a>
    <a href="http://wwww.yourdomain.com/page2.html">Sub Menu 2</a>
    <a href="http://wwww.yourdomain.com/page3.html">Sub Menu 3</a>
    <a href="http://wwww.yourdomain.com/page4.html">Sub Menu 4</a>
    <a href="http://wwww.yourdomain.com/page5.html">Sub Menu 5</a>
  </div>
            <div>
          <button class="mainmenubtn">O que fazemos?</button>
          <div class="dropdown-child">
    <a href="http://wwww.yourdomain.com/page1.html">Sub Menu 1</a>
    <a href="http://wwww.yourdomain.com/page2.html">Sub Menu 2</a>
    <a href="http://wwww.yourdomain.com/page3.html">Sub Menu 3</a>
    <a href="http://wwww.yourdomain.com/page4.html">Sub Menu 4</a>
    <a href="http://wwww.yourdomain.com/page5.html">Sub Menu 5</a>
  </div>
              <div>
          <button class="mainmenubtn">Encontre um médico</button>
              <div class="dropdown-child">
    <a href="http://wwww.yourdomain.com/page1.html">Sub Menu 1</a>
    <a href="http://wwww.yourdomain.com/page2.html">Sub Menu 2</a>
    <a href="http://wwww.yourdomain.com/page3.html">Sub Menu 3</a>
    <a href="http://wwww.yourdomain.com/page4.html">Sub Menu 4</a>
    <a href="http://wwww.yourdomain.com/page5.html">Sub Menu 5</a>
  </div>
              </div>
              <div>
          <button class="mainmenubtn">Contatos</button>
              <div class="dropdown-child">
    <a href="http://wwww.yourdomain.com/page2.html">">Sub Menu 1</a>
    <a href="http://wwww.yourdomain.com/page2.html">">Sub Menu 2</a>
    <a href="http://wwww.yourdomain.com/page3.html">Sub Menu 3</a>
    <a href="http://wwww.yourdomain.com/page4.html">Sub Menu 4</a>
    <a href="http://wwww.yourdomain.com/page5.html">Sub Menu 5</a>
  </div>
              </div>
          <button class="mainmenubtn">Blog</button>

          <div class="dropdown-child">
            <div class="dropdown-child">
    <a href="http://wwww.yourdomain.com/page1.html">Sub Menu 1</a>
    <a href="http://wwww.yourdomain.com/page2.html">Sub Menu 2</a>
    <a href="http://wwww.yourdomain.com/page3.html">Sub Menu 3</a>
    <a href="http://wwww.yourdomain.com/page4.html">Sub Menu 4</a>
    <a href="http://wwww.yourdomain.com/page5.html">Sub Menu 5</a>
  </div>
          </div>
        </div>
</body>

</html>
</html>