<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>HealthLink</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <nav>
    <div class="padding-left">
    <img src="static/imagens/logo-sem-fundo.png" alt="Logo HealthLink">
    </div>
    <ul class="center">
      <li><a style="color: white" href="#">Início</a></li>
      <li><a style="color: white" href="#">Chat</a></li>
      <li><a style="color: white" href="#">Como funciona</a></li>
      <li><a style="color: white" href="#">Sobre nós</a></li>
    </ul>
    <ul>
      <li><a style="color: white" href="#">Login</a></li>
      <li><a style="color: white" href="/users/">Cadastro</a></li>
    </ul>
  </nav>

  <header>
    <h1>HealthLink</h1>
    <h2>O site que conecta você ao médico mais próximo da sua casa</h2>
  </header>

  <main>
    <section>
      <h3>Como funciona</h3>
      <ol>
        <li>Cadastre-se como médico ou paciente;</li><br>
        <li>Converse com a nossa IA para descobrir qual tipo de médico você precisa;</li><br>
        <li>Receba recomendações de médicos próximos e qualificados;</li><br>
        <li>Escolha o médico ideal para você;</li><br>
        <li>Agende sua consulta de forma conveninente;</li><br>
        <li>Avalie sua experiência e contribua para melhorar nosso serviço.</li><br>
      </ol>
    </section>
    <section>
      <h3>Contato</h3>
      <p>Para mais informações, entre em contato conosco:</p>
      <ul>
        <li>Telefone: (11) 1234-5678</li>
        <li>E-mail: contato@healthlink.com.br</li>
        <li>Chat online</li>
      </ul>
    </section>

  </main>

  <footer>
    <p style="color: white;">Copyright © 2023 HealthLink</p>
  </footer>

</body>
</html>
